body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #10b981;
  border: none;
  color: white;
}
