body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.menu {
  margin-top: 20px;
}

.btn {
  display: block;
  background: #22c55e;
  color: white;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  border-radius: 8px;
}

.btn:hover {
  background: #16a34a;
}
